<div id="outerViewerContainer" class="outerViewer" data-signature="<%= !view_only %>">
  <div id="mainViewerContainer">
    <div class="toolbar">
      <div id="toolbarContainer">
        <div id="toolbarViewer">
          <div id="toolbarViewerLeft">
            <div class="splitToolbarButton">
              <button class="toolbarButton pageUp" id="previous" title="Previous page">
                <span>Previous</span>
              </button>
              <div class="splitToolbarButtonSeparator"></div>
              <button class="toolbarButton pageDown" id="next" title="Next page">
                <span>Next</span>
              </button>
            </div>
            <label class="toolbarLabel desktop-only-inline" for="pageNumber" id="pageNumberLabel">Page:</label>
            <input class="toolbarField pageNumber" type="number" id="pageNumber" title="Page number"/>
            <span class="toolbarLabel" id="numPages">of X</span>
            <button href="#" id="download" class="toolbarButton download" title="Download document"> Download </button>
          </div>
          <div id="toolbarViewerRight">
            <div class="splitToolbarButton">
              <button class="toolbarButton zoomOut" id="zoomOut" title="Zoom Out">
                <span>Zoom Out</span>
              </button>
              <div class="splitToolbarButtonSeparator"></div>
              <button class="toolbarButton zoomIn" id="zoomIn" title="Zoom In">
                <span>Zoom In</span>
              </button>
            </div>
            <span class="dropdownToolbarButton desktop-only-inline" id="scaleSelectContainer">
              <select title="Zoom" id="scaleSelect">
                <option value="auto" selected>Auto</option>
                <option id="customScaleOption" value="custom"></option>
                <option value="0.5">50%</option>
                <option value="0.75">75%</option>
                <option value="1">100%</option>
                <option value="1.25">125%</option>
                <option value="1.5">150%</option>
                <option value="2">200%</option>
              </select>
            </span>
          </div>
        </div>
        <!--<div id="loadingBar"></div>-->
      </div>
    </div>
    <div id="viewerContainer">
      <%= content_tag "div", id: "viewer", data: { fields: document.tag_fields.map(&:scaled_attributes)} do %>
          <% document.document_images.each_with_index do |doc_image, index| %>
              <div id="<%= 'pageContainer' + index.to_s %>" class="page">
                <a name="<%= index %>"></a>
                <div id= "<%= 'imageWrapper' + index.to_s %>" class="imageWrapper">
                  <img src="<%= doc_image.image.url %>"/>
                </div>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="sigFooter <%= view_only ? 'sigHidden' : ''%>">
      <div id="sigFooterContainer">
        <div id="sigFooterContainerLeft">
          <button id="nextSignature" class="">Next Signature</button>
        </div>
        <div id="sigFooterContainerRight">
          <button id="finishSigning" class="inactive">Submit <span class="desktop-only-inline">Document</span></button>
        </div>
      </div>
    </div>
  </div>
  <div id="signatureModal" class="noSelect">
    <div class="modalContainer">
      <div class="modalTabbar">
        <div id="typeSignatureForm">
          <div class="typeField">
            <label> Type Your Name Below </label>
            <input type="text" id="nameInput" placeholder="Your Name (e.g. John Hancock)" maxlength="30" />
          </div>
        </div>
        <ul class="modalTabs">
          <li class="active" id="drawSignatureTab">Draw Your Signature</li>
          OR
          <li class="" id="typeSignatureTab">Type Your Signature</li>
        </ul>
      </div>

      <div class="modalContent">
        <div id="signaturePad"></div>
        <div id="signatureTypeWrapper" class="sigHidden">
            <div id="signatureType"></div>
        </div>
        <hr id="typeUnderline">
      </div>

      <div class="modalFooter">
        <div class="modalFooterLeft">
          <label>
            <input type="checkbox" id="agreeSignature"/>
            &nbsp;
            I agree to the <a href="/signature/terms" target="_blank" id="esignTerms">electronic signature terms & conditions.</a>
          </label>
        </div>
        <div class="modalFooterRight">
          <button id="signSignature" class="inactive">Apply <span class="desktop-only-inline">Signature</span></button>
        </div>
      </div>
      <button id="cancelSignature">×</button>

    </div>
  </div>
</div>

<input type="hidden" id="downloadLink" value="<%= document.doc.url(:original, timestamp: false)%>"/>
<%= form_tag('/sign/' + document.id.to_s, method: :post, id: 'sig_form') do %>
    <input type="hidden" name="sig_type" id="sig_type"/>
    <input type="hidden" name="sig_data" id="sig_data"/>
<% end %>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<%= javascript_include_tag "signature/doc_viewer.js" %>
<%= javascript_include_tag "signature/jSignature.js" %>
